<section id="bize" class="bize">
  <div class="container">
    <div class="bize-wrap">
      <div class="bize-wrap-text">
        <h3 class="bize-text-title">Bize Ulaşın</h3>
        <p class="bize-text-content">
          Herhangi bir sorunda veya önerin olduğunda bize ulaşmaktan çekinme.
        </p>

        <p class="bize-contact">
          WhatsApp:
          <a class="bize-tel" href="tel:+905312345678">+90 531 234 56 78</a>
        </p>
        <p class="bize-contact">
          E-posta:
          <a class="bize-mail" href="mailto:iinfo@fbxitoqiu.xyz"
            >info@fbxitoqiu.xyz</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
