<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./gizlilik.html" class="footer-nav-link"
          >Gizlilik Politikası</a
        >
      </li>

      <li class="footer-nav-img">
        <img
          width="2"
          height="22"
          src="./img/footer-line.png"
          class="footer-nav-img-i"
        />
      </li>

      <li class="footer-nav-item">
        <a href="./sartlar.html" class="footer-nav-link">Kullanım Şartları</a>
      </li>

      <li class="footer-nav-img">
        <img
          width="2"
          height="22"
          src="./img/footer-line.png"
          class="footer-nav-img-i"
        />
      </li>

      <li class="footer-nav-item">
        <a href="./cerez.html" class="footer-nav-link">Çerez Politikası</a>
      </li>
    </ul>

    <p class="footer-text">
      © 2025 Yeşil Sürpriz Tüm hakları saklıdır. fbxitoqiu.xyz
    </p>
  </div>
</footer>
