<section id="hakkımızda" class="hakkımızda">
  <div class="container">
    <div class="hakkımızda-wrap">
      <div class="hakkımızda-wrap-text">
        <h3 class="hakkımızda-text-title">Hakkımızda</h3>
        <p class="hakkımızda-text-parag">
          Yeşil Sürpriz”, doğaya hayran ama klasik saksı çiçeklerinden sıkılmış
          meraklılar için kuruldu.
        </p>
      </div>

      <div class="hakkımızda-wrap-content">
        <div class="hakkımızda-wrap-content-text">
          <p class="hakkımızda-content-text">
            Bitkilerin sadece dekoratif değil, aynı zamanda ilham verici ve
            eğlenceli olabileceğine inanıyoruz.
          </p>
          <p class="hakkımızda-content-text">
            Her ay sana benzersiz bir bitki deneyimi sunmak için dünyanın dört
            bir yanından sıradışı türler seçiyoruz: etçil bitkiler, kokusuz
            çiçekler, minyatür ormanlar ve daha nicesi.
          </p>
          <p class="hakkımızda-content-text">
            Ekibimiz botanik tutkunu, ekolojik duyarlılığı yüksek kişilerden
            oluşuyor. Kutularımızda kullanılan tüm materyaller geri
            dönüştürülebilir ya da doğada çözünebilir.
          </p>
          <p class="hakkımızda-content-text">
            Sen sadece kutunu aç, şaşır, ve yeşil mutluluğu yaşa!
          </p>
        </div>

        <picture class="hakkımızda-wrap-img">
          <source
            srcset="
              ./img/hakkımızda/hakkımızda-desk-1x.jpg 1x,
              ./img/hakkımızda/hakkımızda-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/hakkımızda/hakkımızda-mob-1x.jpg 1x,
              ./img/hakkımızda/hakkımızda-mob-2x.jpg 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/hakkımızda/hakkımızda-mob-1x.jpg"
            alt="Yeşil Sürpriz”, doğaya hayran ama klasik saksı çiçeklerinden sıkılmış meraklılar için kuruldu.
            "
          />
        </picture>
      </div>
    </div>
  </div>
</section>
