<header class="header">
  <div class="header-wrapper">
    <a class="header-link-img" href="/"
      ><img
        src="./img/favicon/favicon-500.png"
        alt="Logo image"
        class="header-logo"
        width="32"
        height="32"
    /></a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#hakkımızda" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="#kutularımız" class="nav-link">Kutularımız Nasıl Çalışır?</a>
        </li>

        <li class="nav-item">
          <a href="#neler" class="nav-link">Neler Gönderiyoruz?</a>
        </li>

        <li class="nav-item">
          <a href="#neden" class="nav-link">Neden Yeşil Sürpriz?</a>
        </li>

        <li class="nav-item">
          <a href="#galeri" class="nav-link">Galeri</a>
        </li>

        <li class="nav-item">
          <a href="#müşteri" class="nav-link">Müşteri Yorumları</a>
        </li>

        <li class="nav-item">
          <a href="#sss" class="nav-link">FAQ</a>
        </li>

        <li class="nav-item">
          <a href="#bize" class="nav-link">Bize Ulaşın</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-burger" data-modal-open>
      <img
        width="24"
        height="24"
        src="./img/burger.png"
        alt="Burger button"
        class="header-burger-img"
      />
    </button>
  </div>
</header>
