<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#hakkımızda" class="modal-nav-link">Hakkımızda</a>
        </li>

        <li class="modal-nav-item">
          <a href="#kutularımız" class="modal-nav-link"
            >Kutularımız Nasıl Çalışır?</a
          >
        </li>

        <li class="modal-nav-item">
          <a href="#neler" class="modal-nav-link">Neler Gönderiyoruz?</a>
        </li>

        <li class="modal-nav-item">
          <a href="#neden" class="modal-nav-link">Neden Yeşil Sürpriz?</a>
        </li>

        <li class="modal-nav-item">
          <a href="#galeri" class="modal-nav-link">Galeri</a>
        </li>

        <li class="modal-nav-item">
          <a href="#sss" class="modal-nav-link">FAQ</a>
        </li>

        <li class="modal-nav-item">
          <a href="#bize" class="modal-nav-link">Bize Ulaşın</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
