<section id="neden" class="neden">
  <div class="container">
    <div class="neden-wrap">
      <div class="neden-wrap-text">
        <h3 class="neden-text-title">Neden Yeşil Sürpriz?</h3>
        <p class="neden-text-parag">
          Eşsiz noktalar: özgünlük, özen, heyecan, yeşil felsefe.
        </p>
      </div>

      <div class="neden-wrap-content">
        <div class="neden-wrap-card">
          <div class="neden-card-title">
            <p class="neden-card-t-title">Sıradışılık:</p>
          </div>
          <p class="neden-card-text">
            Biz sıradan salon bitkilerini değil, gerçekten şaşırtan türleri
            seçiyoruz. Kutu açıldığında “Bu da ne böyle?!” dedirten türler
            sunuyoruz. Bu sayede hem koleksiyon yapabilir hem de sevdiklerine
            hediye edebileceğin eşsiz türlerle tanışırsın.
          </p>
        </div>

        <div class="neden-wrap-card">
          <div class="neden-card-title">
            <p class="neden-card-t-title">Bakım Kolaylığı:</p>
          </div>
          <p class="neden-card-text">
            Bitkilerimiz başlangıç seviyesi için idealdir. Her biri düşük su
            ihtiyacına sahip, hızlı solmayan ve kolay adapte olan türlerden
            seçilir. Kutu içindeki bakım kartları ve videolar sayesinde herhangi
            bir deneyim gerekmez.
          </p>
        </div>

        <div class="neden-wrap-card">
          <div class="neden-card-title">
            <p class="neden-card-t-title">Çevreci Paketleme:</p>
          </div>
          <p class="neden-card-text">
            Kullandığımız tüm ambalajlar geri dönüştürülebilir ya da biyolojik
            olarak parçalanabilir malzemelerden üretilir. Plastik yerine kraft
            kutular, doğal yün destekler ve mürekkep bazlı kartlar kullanıyoruz.
          </p>
        </div>

        <div class="neden-wrap-card">
          <div class="neden-card-title">
            <p class="neden-card-t-title">Sürpriz Etkisi:</p>
          </div>
          <p class="neden-card-text">
            Her ay yeni bir bitkiyle tanışmanın heyecanı, sıradan kargo
            paketlerinin ötesine geçiyor. Bitkiyle birlikte gelen bilgi
            kartları, hikâyeler ve hediyeler, bu deneyimi bir bitki macerasına
            dönüştürüyor.
          </p>
        </div>

        <div class="neden-wrap-card">
          <div class="neden-card-title">
            <p class="neden-card-t-title">Koleksiyon Değeri:</p>
          </div>
          <p class="neden-card-text">
            Zamanla eşsiz bir bitki koleksiyonu oluşturursun. Bazı türler
            sınırlı sayıda sunulur, bu da koleksiyonunu özel kılar. Ayrıca kendi
            bitki köşeni yaratman için ilham veririz!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
