<section id="neler" class="neler">
  <div class="container">
    <div class="neler-wrap">
      <div class="neler-wrap-text">
        <h3 class="neler-text-title">Neler Gönderiyoruz?</h3>
      </div>

      <div class="neler-wrap-content">
        <div class="neler-wrap-card">
          <div class="neler-dop">
            <p class="neler-text-parag">
              Hangi tür bitkiler dahil — kaktüs mutantları, yosun kavanozları ve
              daha fazlası.
            </p>
            <p class="neler-card-bold">Her Kutuda Bulabileceklerin:</p>
            <ul class="neler-wrap-li">
              <li class="neler-text-li">
                1 adet canlı, nadir ya da sıradışı bitki
              </li>
              <li class="neler-text-li">
                Bitkinin adı, kökeni ve hikayesini içeren bilgi kartı
              </li>
              <li class="neler-text-li">
                Pratik bakım rehberi (basılı + QR ile videolu içerik)
              </li>
              <li class="neler-text-li">
                El yapımı dekoratif obje (taş, minyatür figür, tahta stand vb.)
              </li>
              <li class="neler-text-li">
                Sürpriz ekstra: tohum paketi, doğal gübre örneği, mini cam vazo
                gibi değişken hediyeler
              </li>
            </ul>
          </div>
          <picture class="hakkımızda-wrap-img">
            <source
              srcset="
                ./img/neler/neler-desk1-1x.jpg 1x,
                ./img/neler/neler-desk1-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/neler/neler-mob1-1x.jpg 1x,
                ./img/neler/neler-mob1-1x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/neler/neler-mob1-1x.jpg"
              alt="Her Kutuda Bulabileceklerin"
            />
          </picture>
        </div>

        <div class="neler-wrap-card">
          <div class="neler-dop neler-dop1">
            <p class="neler-card-bold">
              Gönderebileceğimiz Bazı İlginç Türler:
            </p>
            <ul class="neler-wrap-li">
              <li class="neler-text-li">
                Fittonia “sinirli bitki” — yaprakları elektrikli damar gibi
              </li>
              <li class="neler-text-li">
                Cereus peruvianus “twisted” — kıvrımlı uzayan kaktüs
              </li>
              <li class="neler-text-li">
                Tillandsia — toprak gerektirmeyen hava bitkisi
              </li>
              <li class="neler-text-li">
                Drosera — yapışkanlı yapraklarıyla böcek yakalayan etçil tür
              </li>
              <li class="neler-text-li">
                Yosun teraryumu — kapalı sistemde yaşayan minik ormanlar
              </li>
              <li class="neler-text-li">
                Renksiz ama desenli yapraklara sahip koleksiyon bitkileri
              </li>
              <li class="neler-text-li">
                Çocuklar için özel “bitki yetiştirme seti”
              </li>
            </ul>
          </div>
          <picture class="hakkımızda-wrap-img neler-dop2">
            <source
              srcset="
                ./img/neler/neler-desk2-1x.jpg 1x,
                ./img/neler/neler-desk2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/neler/neler-mob2-1x.jpg 1x,
                ./img/neler/neler-mob2-1x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/neler/neler-mob2-1x.jpg"
              alt="Gönderebileceğimiz Bazı İlginç Türler"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
