<section id="sss" class="sss">
  <div class="container">
    <div class="sss-wrap">
      <div class="sss-wrap-text">
        <h3 class="sss-text-title">Sıkça Sorulan Sorular</h3>
        <p class="sss-text-content">S.S.S.</p>
      </div>

      <div class="sss-wrap-content">
        <div class="sss-wrap-card-one">
          <div class="sss-wrap-card-title">
            <p class="sss-card-text">
              Kutudaki bitkiler ne kadar süre dayanıyor?
            </p>
            <img class="sss-card-img" src="./img/down.png" />
          </div>
          <p class="sss-card-text-content">
            Gönderdiğimiz bitkiler genellikle dayanıklı ve düşük bakım
            gerektiren türlerden seçilir. Doğru ışık, sulama ve ortam koşulları
            sağlandığında aylarca hatta yıllarca yaşayabilirler. Her bitkiyle
            birlikte detaylı bir bakım kılavuzu sunuyoruz. Böylece hangi
            aralıklarla sulamanız, nereye yerleştirmeniz gerektiğini kolayca
            öğrenirsiniz. Ayrıca kutu içinde gelen QR kod ile özel bakım
            videolarına da ulaşabilirsiniz. İlk kez bitki bakacak kullanıcılar
            için özel açıklamalar eklenmiştir. Bitki solarsa da destek
            hattımızdan yardım alabilirsiniz.
          </p>
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Hediye olarak gönderebilir miyim?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">
            Abonelik dışında tek seferlik kutu alabilir miyim?
          </p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Kutular her ay ne zaman gönderiliyor?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">
            Bitkiler alerjik ya da zehirli olabilir mi?
          </p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Kutuların içeriği gerçekten sürpriz mi?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Kutu içeriğinde bitki dışında neler var?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Bitkiyi yanlışlıkla kurutursam ne olur?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Aynı bitkiden iki kez gönderilir mi?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Hangi şehirlerde teslimat yapılıyor?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">
            Evde çok az ışık var, uygun bitki gönderilir mi?
          </p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">Bitkiler canlı mı geliyor?</p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>

        <div class="sss-wrap-card">
          <p class="sss-card-text">
            Aboneliği istediğim zaman iptal edebilir miyim?
          </p>
          <img class="sss-card-img" src="./img/right.png" />
        </div>
      </div>
    </div>
  </div>
</section>
