@import './common/vars';

.cerez {
  scroll-margin-top: 80px;
}

.cerez-body {
  background-color: $_white;
}

.cerez-section {
  padding-top: 80px;
}

.cerez-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  color: $_graybrown;
  padding-bottom: 32px;
}

.cerez-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $_graybrown;
}

.paragraph {
  padding-bottom: 32px;
}

.cerez-text-title {
  font-size: 24px;
  line-height: 1.3;
  color: $_graybrown;
  padding-bottom: 32px;
}

.cerez-text-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: $_graybrown;
  padding-bottom: 32px;
}

.cerez-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42;
  color: $_graybrown;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .cerez-title {
    font-size: 48px;
  }

  .cerez-text {
    font-size: 18px;
  }

  .paragraph {
    padding-bottom: 32px;
  }

  .cerez-text-title {
    font-size: 28px;
  }

  .cerez-text-bold {
    font-size: 20px;
  }
}
