@import './common/vars';

.hero-wrap-dop {
  background-image: url('../img/hero/hero-mob-1x.png');
  display: flex;
  flex-direction: column;
  width: 375px;
  padding-top: 100px;
  padding-bottom: 374px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hero-wrap-content {
  display: flex;
  flex-direction: column;
  width: 343px;
  margin: 0 auto;
}

.hero-wrap-title-desk {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: $_brown;
  display: flex;
  text-align: left;
  padding-bottom: 40px;
}

.hero-wrap-text-one {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-align: left;
}

.hero-wrap-text-two {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .hero-wrap-dop {
    background-image: url('../img/hero/hero-desk-1x.jpg');
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin-top: 39px;
    padding-top: 140px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-wrap-content {
    display: flex;
    flex-direction: column;
    width: 1120px;
    margin: 0 auto;
  }

  .hero-wrap-title-desk {
    font-weight: 600;
    font-size: 80px;
    line-height: 1.2;
    color: $_brown;
    display: flex;
    text-align: left;
    padding-bottom: 40px;
    width: 912px;
  }

  .hero-wrap-text-one {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.3;
    text-align: left;
    width: 638px;
  }

  .hero-wrap-text-two {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.3;
    text-align: left;
    width: 638px;
  }
}
